<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCptMp4YpWW1tDmzXxU3-vIzQzTcPxc5X4</string>
	<key>GCM_SENDER_ID</key>
	<string>528217738729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kuznetsovIlya.WeatherApp-MVVM</string>
	<key>PROJECT_ID</key>
	<string>weatherapp-b3ee9</string>
	<key>STORAGE_BUCKET</key>
	<string>weatherapp-b3ee9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:528217738729:ios:eeeb9ac2df74ae1eaccf78</string>
</dict>
</plist>
